<div class="card" style="width: 33.333%;">
  <img class="card-img-top" src="{{this.photo}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}<br>{{this.type}}<br>{{this.location}}<br>{{this.contact}}</h5>
  </div>
</div>
{{!-- DEFAULT TEST - SAME USED FOR <<<<<SHOPS>>>>> --}}