<div class="card" style="width: 33.333%;">
  <img class="img-fluid img-thumbnail" src="{{this.photo}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}<br>
                     Type: {{this.type}}<br>
                     Location: {{this.location.city}}<br>
                     Contact: {{this.contact.email}}<br>
                     {{this.contact.website}}</h5>
  </div>
</div>