<div class="bg-header pt-header">
  <h1 class="text-center py-5">Personal Trainers</h1>
</div>
<br><br>
<h2>Showing Personal Trainers located in <strong>{{user.location}}</strong> that matches your interests:</h2>
{{!-- {{#each user}}
<h2>{{this.skills}}</h2>
{{/each}} --}}
<div class="container-fluid">
  <div class="form-inline py-1">
    <form class="m-auto" method="GET" action="/pt/list">
      <input type="search" class="form-control" name="ptName" placeholder="Search PT..." />
      <button class="btn corporate-btn">Go!</button>
    </form>
  </div>
  {{#each pts}}
  {{!-- {{> parPT this}} --}}
  <div class="card my-3 mx-auto col-6">
    <div class="row no-gutters">
      <div class="col-md-4">
        <a href="/pt/list/{{this._id}}">
          <img src="{{this.image}}" class="card-img" alt="PT photo">
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text"><small class="text-muted">{{this.email}}</small></p>
          <form class="m-auto" method="GET" action="/pt/list/{{this._id}}">
            <button class="btn corporate-btn">View profile...</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>