<div class="bg-header shops-header">
  <h1 class="text-center py-5">Editting Shops: {{shop.name}}</h1>
</div>
<div class="container-fluid py-5 ml-auto">
  <div class="col-lg-10 align-self-center m-auto">
    <div class="card text-center form card-form">
      <div class="card-body">
        <form method="POST" action="/admin/shops/edit" enctype="multipart/form-data">
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input class="form-control" type="text" name="name" value={{shop.name}}>
              </div>
              <div class="col">
                <div class="custom-file">
<input type="file" class="form-control" name="image" value="Profile Image">  
                </div>
              </div>
              <div class="col">
                <select class="form-control" name="city" value={{shop.location.city}}>
                  <option selected>- City</option>
                  <option value="Porto">Porto</option>
                  <option value="Lisbon">Lisbon</option>
                  <option value="Algarve">Algarve</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <select name="type" class="form-control" value={{shop.type}}>
                  <option selected>- Shop type</option>
                  <option value="Health/Nature Shop">Health/Nature Shop</option>
                  <option value="Sports Nutrition">Sports Nutrition</option>
                  <option value="Meal prepared delivery">Meal prepared delivery</option>
                </select>
              </div>
              <div class="col">
                <input class="form-control" type="text" name="address" value={{shop.location.address}}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <input class="form-control" type="email" name="email" value={{shop.contact.email}}>
              </div>
              <div class="col">
                <input class="form-control" type="text" name="phone" value={{shop.contact.phone}}>
              </div>
              <div class="col">
                <input class="form-control" type="text" name="website" value={{shop.contact.website}}>
              </div>
            </div>
          </div>
          <button class="btn btn-lg btn-success btn-block">Add a shop</button>
        </form>
      </div>
    </div>
  </div>
</div>