<div class="bg-header profile-header">
  <h1 class="text-center">Your profile</h1>
</div>
<div class="container-fluid pt-5">
  <div class="card border-success mb-3">
    <div class="card-header">
      <h5 class="card-title text-success">{{user.name}}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <br><br><img src="{{user.image}}" width="200" height="200" />
        </div>
        <div class="col-8">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item card text"><b>Email: </b>{{user.email}}</li>
              <li class="list-group-item card text"> <b>Genre: </b>{{user.genre}}</li>
              <li class="list-group-item card text"> <b>Description: </b>{{user.description}}</li>
              <ul class="list-group-item card text"><b>Interests:</b>
                {{#each user.skills}}
                <li>{{this}}</li>
                {{/each}}</ul>
            </ul>
          </div>
          <div class="row">
            <div class="col-2 ml-auto">
              <form method="GET" action="/user/edit/">
                <button class="btn btn-light">Edit profile</button>
              </form>
            </div>
            <div class="col-2">
              <form method="POST" action="user/delete/">
              
                
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  Delete
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to delete your profile?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>