<h1>User Profile</h1>
<p>{{user.name}}</p>
<p>{{user.email}}</p>
<p>{{user.dateOfBirth}}</p>
<p>{{user.genre}}</p>
<p>{{user.skills}}</p>
<p>{{user.description}}</p>
<p>{{user.location}}</p>
<p>{{user.image}}</p>
<p>{{user.role}}</p>
